:root {
  --link-color: #247fa3;
  --link-color-hover: #14739a;
  --link-underline: rgba(33, 128, 167, 0.15);
  --link-underline-hover: rgba(33, 128, 167, 0.3);
  --darkenPrimary: #14739a;
  --spacer: 1rem;
  --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #333;
  font-family: var(--font-family-base);
  font-size: 17px;
  line-height: 1.5;
  
}

ul li {
  margin: calc(var(--spacer) * .45) 0;
}

li::marker {
  color: var(--link-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 1px solid var(--link-underline);
  padding-bottom: 2px;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

a:hover {
  color: var(--link-color-hover);
  border-bottom-color: var(--link-underline-hover);
}

* {
  box-sizing: border-box;
}

.grid8 {
  width: 700px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
